.scrollUpBtn{
    &.active{
        display: inline-block;
    }

    display: none;
    position: fixed;
    right: 8px;
    bottom: 8px;
    padding: 8px 10px;
    border: none;
    outline: none;
    -webkit-box-shadow: -9px 13px 18px 4px rgba(0,0,0,0.75); 
    box-shadow: -9px 13px 18px 4px rgba(0,0,0,0.75);
    color: $purple;
    font-size: $fsi-m;
}