@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Kanit:wght@200;300;400;500;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
body, * {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 13px;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

/* COLORS */
.main_page {
  background-color: #8B4FB3;
  padding: 20px 0 30px 0;
}

.form {
  transform: translateX(110%);
  position: fixed;
  text-align: end;
  right: 0;
  top: 40px;
  transition: 0.4s ease-out;
}
.form.active {
  transform: translatex(0);
}
.form h2 {
  padding: 7px;
  background: #fff;
  color: #8B4FB3;
  box-shadow: -9px 13px 18px 4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.form .input {
  padding: 7px;
  color: #8B4FB3;
  box-shadow: -9px 13px 18px 4px rgba(0, 0, 0, 0.75);
  background: #fff;
}
.form .input input {
  border: none;
  height: 35px;
  width: 242px;
  outline: none;
  cursor: pointer;
}
.form .btn button {
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px;
  border: none;
  box-shadow: -9px 13px 18px 4px rgba(0, 0, 0, 0.75);
  padding: 10px 16px;
  outline: none;
}
.form .btn button.fav-btn {
  color: #fff;
  background-color: #A5311E;
  margin-right: 20px;
  width: 196px;
}
.form .btn button.search-btn {
  color: #8B4FB3;
  background: #fff;
}

.continent_card {
  width: 90%;
  text-align: center;
  margin: 70px auto 0 auto;
  border: 5px solid #fff;
}
.continent_card:first-child {
  margin-top: 0;
}
.continent_card img {
  width: 100%;
  border-bottom: 5px solid #fff;
}

.scrollUpBtn {
  display: none;
  position: fixed;
  right: 8px;
  bottom: 8px;
  padding: 8px 10px;
  border: none;
  outline: none;
  box-shadow: -9px 13px 18px 4px rgba(0, 0, 0, 0.75);
  color: #8B4FB3;
  font-size: 1.2rem;
}
.scrollUpBtn.active {
  display: inline-block;
}

.countrie_card {
  width: 90%;
  text-align: center;
  margin: 50px auto 0 auto;
  border: 5px solid #fff;
}
.countrie_card img {
  width: 100%;
  border-bottom: 5px solid #fff;
}

.countrie-info_card {
  min-height: calc(100vh - 26px);
  background: #8B4FB3;
  font-family: "Kanit", sans-serif;
}
.countrie-info_card img:first-child {
  width: 100%;
}
.countrie-info_card h2 {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}
.countrie-info_card article {
  margin-left: 5px;
}
.countrie-info_card article p {
  font-size: 1.2rem;
  margin-bottom: 12px;
  color: #fff;
}
.countrie-info_card article p span {
  color: gold;
}
.countrie-info_card article p.timezone {
  display: flex;
  flex-direction: column;
}
.countrie-info_card .btn {
  text-align: center;
  margin-top: 30px;
}
.countrie-info_card .btn img {
  width: 20%;
}

.loading {
  height: calc(100vh - 26px);
  background-color: #8B4FB3;
  display: flex;
  align-items: center;
}
.loading img {
  margin: auto;
  width: 150px;
}

.error {
  height: calc(100vh - 26px);
  background-color: #8B4FB3;
  text-align: center;
}
.error img {
  margin-top: 80px;
  width: 200px;
}
.error h2 {
  width: 95%;
  margin-top: 40px;
}/*# sourceMappingURL=styles.css.map */